{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Введите новый пароль дважды:</p>
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Сменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка на сброс пароля была недействительной, возможно, потому, что она уже используется. Пожалуйста,
            запросите новый сброс пароля.</p>
    {% endif %}
{% endblock %}
