{% extends 'account/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="col-lg-offset-2 col-lg-8">
        <div class="panel">
            <div class="panel-heading bg-ruby">
                <h4 class="panel-title text-center text-white">Добавить заявку</h4>
            </div>
            <div class="panel-body">
                <p>Выберите, интересующее Вас, предложение от наших партнёров:</p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-red">Добавить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}